
.container {
    
    display: flex;
    height: 550px;
    gap: 48px;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
    margin: -10px;
   
    

}
#logo{
    
    height: 97px;
    margin-right: 900px;
    margin-left: 40px;

    
   
    
   
}
.one{
   
    height: 20px;
    
   
   
    
}
.two{
    
    height: 20px;
     
   
   
}
.three{
    
    height: 20px;
    margin-right: 500px;
    
   
}
.four{
    
    height: 350px;
    margin-right: 200px;
    width: 650px;
    font-size: 26px;
    color: aliceblue;
    margin-left: 150px;
   
}
#Q{
    margin-top: -10px;
}
p{
    font-size: 40px;
}
a{
    color: white;
}
button{
    background-color: rgb(64, 64, 238);
    border-radius: 8px;
    
    
    
}

    


    
.seattle{
    
    height: 400px;
    margin-bottom: 250px;
   
    

    
}
.info{
    display: flex;
    height: 550;
    flex-wrap: wrap;
    gap: 70px;



}
.intro{
   
    margin-left: 700px;
    margin-right: 700px;
    font-size: 32px;
    width: 600px;
    color: black;
    font-weight: bold;
    margin-top: 50px;
   
    

}

.five{
    
    margin-left: 200px;
   
  }
.description{
    display: flex;
    height: 550px;
    margin-top: 20px;
    text-align: center;
    color: black;
}

.kenya {
    
    height: 200px;
    width: 300px;
    margin-left: 200px;
    margin-right: 62px;
   

}
.ethiopia{
   
    height: 400px;
    width: 300px;
    
   
}
.congo{
    
    height: 200px;
    width: 300px;
    margin-right: 72px;
    margin-left:48px;
   
   

}
.somalia{
    
    height: 300px;
    width: 296px;
   

   
  
   
    
}
.conclusion{
    
    display: flex;
    height: 450px;
   
    align-items: center;
    margin: -19px;
    background-color: #E5E7EB;
    color:black;
    
   
    
 
}
.quote{
   
    height: 200px;
    width: 1000px;
    margin-left: 450px;
    font-size: 27px;
    margin-right: 200px;
    text-align: center;
    
    
}
#author{
    font-size: 38px;
    margin-left: 700px;
    width: 300px;
    font-weight: bold;
}
.last{
    
    height: 15px;
    margin-top: 300px;
    margin-bottom: 90px;
    border-radius: 20px;
    color: white;
    padding: 90px;
    background-color: #3882F6;
    width: 1000px;
    margin-left: 400px;
    font-size: 22px;
   
}
#call{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
}

#one{
    margin-left: 800px;
    width: 90px;
    margin-top: -26px;
}
    
.footer{
    
    display: flex;
    height: 50px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 300px;
    padding-left: 900px;
    background-color: black;
    color: aliceblue;
   
}

