
.container {
    border: solid red;
    display: flex;
    height: 550px;
    gap: 48px;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
   
    

}
#logo{
    border: solid red;
    height: 97px;
    margin-right: 900px;
    margin-left: 40px;

    
   
    
   
}
.one{
    border: solid red;
    height: 20px;
    
   
   
    
}
.two{
    border: solid red;
    height: 20px;
     
   
   
}
.three{
    border: solid red;
    height: 20px;
    margin-right: 500px;
    
   
}
.four{
    border: solid red;
    height: 350px;
    margin-right: 300px;
    width: 500px;
    font-size: 26px;
    color: aliceblue;
    margin-left: 150px;
   
}
p{
    font-size: 40px;
}
a{
    color: white;
}
button{
    background-color: rgb(64, 64, 238);
    
    
}

    


    
.seattle{
    border: solid red;
    height: 400px;
    margin-bottom: 250px;
   
    

    
}
.info{
    display: flex;
    height: 550;
    flex-wrap: wrap;
    gap: 70px;



}
.intro{
    border: solid red;
    margin-left: 700px;
    margin-right: 700px;
    font-size: 32px;
    width: 600px;
   
    

}

.five{
    border: solid red;
    margin-left: 200px;
   
  }
.six{
    border: solid red;
   

}
.seven{
    border: solid red;
   
   
}
.eight{
    border: solid red;
   
   
}
.description{
    display: flex;
    height: 550px;
    margin-top: 20px;
    text-align: center;
}

.kenya {
    border: solid red;
    height: 200px;
    width: 300px;
    margin-left: 200px;
    margin-right: 62px;
   

}
.ethiopia{
    border: solid red;
    height: 400px;
    width: 300px;
    
   
}
.congo{
    border: solid red;
    height: 200px;
    width: 300px;
    margin-right: 72px;
    margin-left:48px;
   
   

}
.somalia{
    border: solid red;
    height: 300px;
    width: 296px;
   

   
  
   
    
}
.conclusion{
    
    display: flex;
    height: 450px;
    border: solid red;
    align-items: center;
    margin: -19px;
    background-color: #E5E7EB;
    
   
    
 
}
.quote{
    border: solid blue;
    height: 200px;
    width: 1000px;
    margin-left: 450px;
    font-size: 27px;
    margin-right: 200px;
    text-align: center;
    
    
}
#author{
    font-size: 38px;
    margin-left: 700px;
    width: 300px;
}
.last{
    border: solid red;
    height: 200px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 20px;
    
    padding: 90px;
    background-color: #3882F6;
    width: 1000px;
    margin-left: 400px;
   
}
#call{
    font-size: 30px;
    margin-left: 10px;
}
    
.footer{
    border: solid red;
    display: flex;
    height: 500px;
    margin: -40px;
   
}
button{
   
    border: solid red;
   
    
    
}
